
$blue: hsl(229, 33%, 33%);

.has-text-facebook {

  color:#3b5998!important;
}

.has-text-youtube{

  color:#b00!important
}

.has-text-vk{

  color:#45668e!important
}

.has-text-telegram{

  color:#0088cc!important
}

.has-text-instagram{

  color:#833ab4!important
}

.has-text-viber{

  color:#665CAC!important
}

.fa-viber:before {
	font-family: 'fa-viber';
	content: "\e666";
}
