$font-path: '../fonts';

@font-face {
	font-family: 'fa-viber';
	src:url('../fonts/fa-viber.eot?-3dwksg');
	src:url('../fonts/fa-viber.eot?#iefix-3dwksg') format('embedded-opentype'),
		url('../fonts/fa-viber.ttf?-3dwksg') format('truetype'),
		url('../fonts/fa-viber.woff?-3dwksg') format('woff'),
		url('../fonts/fa-viber.svg?-3dwksg#fa-viber') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Diablo';
	src: url('../fonts/Diablo.eot');
	src: local('DiabloRegular'), local('Diablo'),
		url('../fonts/Diablo.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Diablo.woff') format('woff'),
		url('../fonts/Diablo.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'American TextC';
	src: url('../fonts/AmericanTextC.eot');
	src: local('American TextC Regular'), local('AmericanTextC'),
		url('../fonts/AmericanTextC.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AmericanTextC.woff') format('woff'),
		url('../fonts/AmericanTextC.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
